<div class="scrollable home" ui-state="searchBar">
    <!-- <div class="scrollable-header">
            <input ng-submit="search" ng-model="searchParam"
                type="search"
                class="form-control"
                placeholder="Search.." />
            <a class='form-control btn btn-primary' ng-click='search()'>search</a>
        </div> -->
    <div class="searchbox" layout="column">
        <div layout layout-align="start center">
            <md-input-container flex>
                <!-- Use floating label instead of placeholder -->
                <label>Pesquisa</label>
                <input ng-model="searchParam" type="text" />
            </md-input-container>
            <div layout flex="none">
                <md-button class="md-icon-button" type="submit" value="search" ng-click='search()'>
                    <ng-md-icon icon="search"></ng-md-icon>
                </md-button>
                <md-button class="md-icon-button" ng-click='flagSearch(true)'>
                    <ng-md-icon icon="more_vert"></ng-md-icon>
                </md-button>
            </div>
        </div>
        <!-- <input class="searchInput" ng-model="searchParam" type="search" placeholder="Pesquisar" /> -->
        <!-- <button id="advancedsearch" ng-click='flagSearch(true)' class='btn btn-primary pull-right'>&nbsp;</button> -->
        <!-- <button id="searchSubmit" type="submit" value="search" ng-click='search()' class="btn btn-primary pull-right">&nbsp;</button> -->
        <div class="advSearch" ng-show="advSearch">
            <!-- <md-input-container>
                <label>Estado</label>
                <md-select ng-model="estadoSelecionado" ng-model="estadoSelecionado" ng-change="estadoChange()">
                    <md-option value="" ng-disabled="">
                        Selecionar
                    </md-option>
                    <md-option ng-repeat="estado in estados track by estado.UF_PROPONENTE" value="estado.UF_PROPONENTE">
                        {{ estado.UF_PROPONENTE }}
                    </md-option>
                </md-select>
            </md-input-container> -->
            <label> Estado: </label>
            <br>
            <select class="form-control" ng-model="estadoSelecionado" ng-change="estadoChange()" ng-options="estado.UF_PROPONENTE for estado in estados track by estado.UF_PROPONENTE">
                <option value="">
                    Selecionar
                </option>
            </select>
            <br>
            <label> Município: </label>
            <br>
            <select class="form-control" ng-model="cidadeSelecionado" ng-options="cidade.NM_MUNICIPIO_PROPONENTE for cidade in cidades track by cidade.NM_MUNICIPIO_PROPONENTE">
                <option value="">
                    Selecionar
                </option>
            </select>
            <br>
            <label> Categoria: </label>
            <br>
            <select class="form-control" ng-model="ministerioSelecionado" ng-options="ministerio.NM_ORGAO_SUPERIOR for ministerio in ministerios track by ministerio.NM_ORGAO_SUPERIOR">
                <option value="">
                    Selecionar
                </option>
            </select>
            <br>
            <label> Esfera: </label>
            <br>
            <select class="form-control" ng-model="esferaSelecionado">
                <option value="">Selecionar</option>
                <option value="ESTADUAL">ESTADUAL</option>
                <option value="MUNICIPAL">MUNICIPAL</option>
                <option value="PRIVADA">PRIVADA</option>
            </select>
            <br>
            <label> Situação: </label>
            <br>
            <select class="form-control" ng-model="situacaoSelecionado" ng-options="situacao.TX_SITUACAO for situacao in situacoes track by situacao.TX_SITUACAO">
                <option value="">
                    Selecionar
                </option>
            </select>
            <br>
            <div layout="column" flex>
                <md-button ng-click='search()' class='md-primary md-raised'>Buscar <i class="fa fa-search"></i></md-button>
                <md-button ng-click='limparBusca()' class='md-primary md-raised'>Limpar <i class="fa fa-trash-o"></i></md-button>
            </div>
        </div>
    </div>
    <div id="homeScroll" class="scrollable-content section" ui-scroll-bottom="loadMore()">
        <label ng-show="flagQtdRetornados" class="flagQtdRetornados">A pesquisa retornou {{ totalConvenios }} resultado(s)</label>
        <div class="section convenio" ng-repeat="convenio in convenios">
            <div class="panel panel-default panel-card">
                <div class="panel-heading">
                    <div layout="column">
                        <div flex layout layout-align="start baseline">
                            <!-- <a ng-click="setPageProperties()" href="#/detalhe/{{convenio.NR_CONVENIO}}" tooltip="Detalhe" class='btn'>
                                <i class="fa fa-plus"></i>
                            </a>
                            <a ng-click="fiscalizar(convenio)" class='btn'>
                                <i class="fa fa-eye"></i>
                            </a>
                            <a ng-click="midiaShare(convenio)" class='btn'>
                                <i class="fa fa-share-alt"></i>
                            </a>
                            <a ui-turn-on='myDropdown{{convenio.NR_CONVENIO}}' class='btn'>
                                <i class="fa fa-ellipsis-v"></i>
                            </a>
                            <a ng-click="setPageProperties()" href="#/denuncia/{{convenio.NR_CONVENIO}}" class='btn'>
                                <i class="fa fa-bullhorn"></i>
                            </a>
                            <ul ui-state="myDropdown{{convenio.NR_CONVENIO}}" class="dropdown-menu" ui-outer-click="Ui.turnOff('myDropdown' + convenio.NR_CONVENIO)" ui-outer-click-if="Ui.active('myDropdown' + convenio.NR_CONVENIO)" role="menu" ui-show="myDropdown{{convenio.NR_CONVENIO}}" ui-turn-off="myDropdown{{convenio.NR_CONVENIO}}">
                                <li><a ng-click="setPageProperties()" href="#/detalhe/{{convenio.NR_CONVENIO}}">Detalhe</a></li>
                                <li><a ng-click="fiscalizar(convenio)">Fiscalizar</a></li>
                                <li><a ng-click="setPageProperties()" href="#/denuncia/{{convenio.NR_CONVENIO}}">Manifestação</a></li>
                                <li><a ng-click="midiaShare(convenio)">Compartilhar</a></li>
                            </ul> -->
                            <div flex>
                                <h3 class="panel-title orgaoSuperior">{{ convenio.NM_ORGAO_SUPERIOR }}</h3>
                                <h3 class="panel-title municipio">{{ convenio.NM_MUNICIPIO_PROPONENTE + " - " + convenio.UF_PROPONENTE }}</h3>
                                <span class="numElogios" style="margin: 5px 2px; color: #00B53E; display: inline-block;" tooltip-size="small" tooltip-side="right" tooltips tooltip-template="Quantidade de elogios.">{{convenio.num_elogios}}<ng-md-icon icon="thumb_up"></ng-md-icon></span>
                                <span class="numDenuncias" style="margin: 5px 2px; color: #A01313; display: inline-block;" tooltip-size="small" tooltip-side="right" tooltips tooltip-template="Quantidade de denúncias e reclamações somadas.">  {{convenio.num_denuncias + convenio.num_reclamacoes}}<ng-md-icon icon="thumb_down"></ng-md-icon> </span>
                            </div>
                            <!-- <span flex></span> -->
                            <md-menu flex="none">
                                <md-button class="md-icon-button" ng-click="$mdOpenMenu()">
                                    <ng-md-icon icon="more_vert" style="fill: #666"></ng-md-icon>
                                </md-button>
                                <md-menu-content width="4">
                                    <md-menu-item>
                                        <md-button ng-click="setPageProperties()" href="#/detalhe/{{convenio.NR_CONVENIO}}">
                                            <ng-md-icon flex="none" icon="description" style="fill: #666"></ng-md-icon>
                                            <span flex flex-offset="10">Detalhe</span>
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ng-click="fiscalizar(convenio)">
                                            <ng-md-icon flex="none" icon="visibility" style="fill: #666"></ng-md-icon>
                                            <span flex flex-offset="10">Fiscalizar</span>
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ng-click="midiaShare(convenio)">
                                            <ng-md-icon flex="none" icon="share" style="fill: #666"></ng-md-icon>
                                            <span flex flex-offset="10">Compartilhar</span>
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ng-click="cacheConvenio(convenio)" href="#/denuncia/{{convenio.NR_CONVENIO}}">
                                            <ng-md-icon flex="none" icon="volume_up" style="fill: #666"></ng-md-icon>
                                            <span flex flex-offset="10">Manifeste-se!</span>
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table-responsive">
                        <tr>
                            <span class="conv-txt">{{ convenio.TX_OBJETO_CONVENIO }}</span>
                            <hr>
                        </tr>
                        <tr>
                            <td class="conv-lbl">Convênio:</td>
                            <td colspan="2" class="conv-data"><em>{{ convenio.NR_CONVENIO }} </em></td>
                        </tr>
                        <tr>
                            <td class="conv-lbl">Situação:</td>
                            <td colspan="2" class="conv-data"><em>{{ convenio.TX_SITUACAO }} </em>
                                <br>
                            </td>
                        </tr>
                        <tr>
                            <td class="conv-lbl">Concedente:</td>
                            <td colspan="2" class="conv-data">{{ convenio.NM_ORGAO_CONCEDENTE }}
                                <br>
                            </td>
                        </tr>
                        <tr>
                            <td class="conv-lbl">Executor:</td>
                            <td colspan="2" class="conv-data">{{ convenio.NM_PROPONENTE }}
                                <br>
                            </td>
                        </tr>
                        <tr>
                            <td class="conv-lbl">Programa:</td>
                            <td colspan="2" class="conv-data">{{convenio.NM_PROGRAMA}}
                                <br>
                            </td>
                        </tr>
                        <tr>
                            <td class="conv-lbl">Vigência:</td>
                            <td class="conv-data">
                                {{convenio.DT_INICIO_VIGENCIA}}
                                <br> {{convenio.DT_FIM_VIGENCIA}}
                            </td>
                            <td>
                                <div class="progressBar ng-cloak">{{convenio.percentVigencia| number:0}}%</div>
                                <div round-progress max="100" current="convenio.percentVigencia" color="#45ccce" bgcolor="#eaeaea" radius="30" stroke="10" semi="false" rounded="false" clockwise="true" responsive="false" duration="800" animation="easeOutCubic" animation-delay="0">
                                </div>
                            </td>
                        </tr>
                        <tr ng-if="convenio.IN_ADITIVO_SN == 'S'">
                            <td class="conv-lbl">Aditivos:</td>
                            <td class="conv-data">{{ convenio.QT_ADITIVOS }}</td>
                        </tr>
                        <tr>
                            <td class="conv-lbl">
                                Total:
                                <br> Repasse:
                                <br> Desembolsado:
                            </td>
                            <td class="conv-data">
                                {{ convenio.VL_GLOBAL }}
                                <br> {{ convenio.VL_REPASSE }}
                                <br> {{ convenio.VL_DESEMBOLSADO }}
                            </td>
                            <td>
                                <div class="progressBar ng-cloak" class="progress">{{convenio.percentDesembolso| number:0}}%</div>
                                <div round-progress max="100" current="convenio.percentDesembolso" color="#45ccce" bgcolor="#eaeaea" radius="30" stroke="10" semi="false" rounded="false" clockwise="true" responsive="false" duration="800" animation="easeOutCubic" animation-delay="0">
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>

                
                    
                     <select class="form-control" ng-model="situacaoSelecionado" ng-options="categoria.CATEGORIA for categoria in categorias track by categoria.CATEGORIA">
                        <option value="">
                            Selecionar
                        </option>
                    </select>

                
            </div>
        </div>
    </div>
</div>
