<div ui-content-for="title">
    <span>Bem vindo ao Fiscalize!</span>
</div>
<div class="scrollable">
    <div class="scrollable-content section">
        <slick infinite=false arrows=false dots=true slides-to-show=1 slides-to-scroll=1>
            <div>A</div>
            <div>B</div>
            <div>C</div>
            <div>D</div>
        </slick>
        <!-- <div class="form-group has-success has-feedback">
            <a class="btn btn-default btn-block" href="#/home">
                Home
                <i class="fa fa-home" aria-hidden="true"></i>
            </a>
        </div> -->
    </div>
</div>
