.searchbox{
 background-color:#fffbf8;
 padding:6px;
 margin:5px auto;
 box-shadow: 
}

input[type="search"]{
 padding:5px;
 border-radius:6px;
 border:none;
 color:#080808;
 font-weight:500;
 background-color:#fffbf8;
}

#searchSubmit{
 width:35px;
 height:30px;
 background-image:url(../images/search-btn.png);
 background-repeat: no-repeat;
 background-position: 10px 5px;
 background-color:transparent;
 -webkit-background-size:20px 20px;
 background-size:20px 20px;
 border:none;
 cursor:pointer;
}

#advancedsearch{
 width:35px;
 height:30px;
 background-image:url(../images/advsearch-btn.png);
 background-repeat: no-repeat;
 background-position: 0px -2px;
 background-color:transparent;
 -webkit-background-size:20px 20px;
 background-size:35px 35px;
 border:none;
 cursor:pointer;
}

input[type="search"]:focus{
 outline:0;
}